.div {
   border-color: blue;
    width: 400px;
    height: 400px;
    border: 10px solid;
}
.cub {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: red;
    top: 40px;
    left: 20px;
}
.btn {
    margin: 20px 20px;
}