
@font-face {
    font-family: "digital-7";
    src: url("digital-7.eot");
    src: url("../font/digital-7.woff") format("woff");
    src: url("../font/digital-7.woff2") format("woff2");
    }

* {
    width: 99.2%;
    height: 99.2%;
}
body {
    min-width: 100%;
    min-height: 100%;
    background-image: url("https://i.pinimg.com/736x/5a/f5/e3/5af5e3390ad19b67f22d44adf257af6c.jpg");
    display: flex;
    justify-content: center;
   background-size: 100%;
   background-repeat: no-repeat;

}
.wrapper {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
}
.content {
    display: flex;
    flex-direction: column;
    width: 64%;
    height: 57%;
    justify-content: center;
    gap: 10px;
    background-color: rgb(232, 180, 13);
    border-radius: 10%;
}
form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.inputs {
    display: flex;
    justify-content: center;
}
.display {
    font-family: "digital-7";
    width: 86%;
    height: 55px;
    font-size: 30px;
    outline: none;
    border: none;
    background-color: rgba(102, 124, 105, 0.92);
    border-bottom: 2px solid #000;
    color: rgb(22, 1, 10);
    display: flex;
    justify-content: center;
}
.buttons-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}
button {
    width: 20%;
    height: 30px;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 20px;
    background-color: rgba(51, 51, 51, 0.784);
    border: 1px solid black;
}
button:hover {
    transform: scale(.8);
    background-color: #333;
}
.buttons-group1 {
    display: flex;
    gap: 10px;
    justify-content: center;
    
}
.footer_btns {
    display: flex;
    gap: 10px;
    background-color: aqua;
    width: 300px;
}